# Node stuff
.npmrc
node_modules
lerna-debug.log
npm-debug.log
yarn-error.log
package-lock.json
.idea

# tsc and build output
packages/**/lib
tsconfig.tsbuildinfo

# Gets created when servers are run in production and PORT environment is not set
PORT

# outputs
lib

# dev certs
ssl

**/yarn-audit*
**/yarn-deprecations*
**/bin/*